<div class="container mt-5">
    <h1>AngularJS Blog</h1>
    <hr>
    <div class="row">
      <div class="col-md-8">
        <div class="card mb-3">
          <img src="https://via.placeholder.com/600x400" class="card-img-top" alt="AngularJS Image">
          <div class="card-body">
            <h2 class="card-title">What is AngularJS?</h2>
            <p class="card-text">AngularJS is a JavaScript framework that allows you to create dynamic web applications. It was developed by Google and is now maintained by a community of developers.</p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
        <div class="card mb-3">
          <img src="https://via.placeholder.com/600x400" class="card-img-top" alt="AngularJS Image">
          <div class="card-body">
            <h2 class="card-title">Why use AngularJS?</h2>
            <p class="card-text">AngularJS provides a number of features that make it a popular choice for building web applications, including two-way data binding, dependency injection, and a modular architecture.</p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h2>Recent Posts</h2>
        <ul class="list-group">
          <li class="list-group-item">Introduction to AngularJS</li>
          <li class="list-group-item">Getting Started with AngularJS</li>
          <li class="list-group-item">AngularJS Directives</li>
          <li class="list-group-item">AngularJS Services</li>
          <li class="list-group-item">AngularJS Filters</li>
        </ul>
      </div>
    </div>
  </div>
  