<body>
    <div class="container mb-5">
      <h1 class="text-center my-5">AngularJS</h1>
      <div class="row">
        <div class="col-md-6">
          <h2>What is AngularJS?</h2>
          <p class="text-xl-start">AngularJS is a powerful JavaScript framework developed by Google for building dynamic web applications. It allows developers to create web applications that are fast, efficient, and easy to maintain.</p>
        </div>
        <div class="col-md-6 ">
          <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="AngularJS Logo" class="img-fluid mh-30">
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-6">
          <h2>Features</h2>
          <ul>
            <li>Two-way data binding</li>
            <li>Dependency injection</li>
            <li>Modular architecture</li>
            <li>Templates and directives</li>
            <li>Unit testing support</li>
          </ul>
        </div>
        <div class="col-md-6">
          <h2>Benefits</h2>
          <ul>
            <li>Improved performance and speed</li>
            <li>Better code organization and structure</li>
            <li>Reduced development time and costs</li>
            <li>Increased flexibility and scalability</li>
            <li>Enhanced user experience</li>
          </ul>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-12 text-center">
          <h2>Get Started</h2>
          <a href="https://angular.io/" class="btn btn-primary">Official Website</a>
        </div>
      </div>
    </div>
  </body>
  